@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html{
	font-size: 18px;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Bebas Neue', sans-serif;
	background-color: #EBEBEB;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
}

.navbar-brand img {
	width: 40px;
	margin-right: 3px;
}

.nav-container {
	margin: auto;
}

.navbar-brand {
	position: relative;
	top: -1px;
	font-size: 25px;
}

.navbar {
	font-size: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: hsl(0, 0%, 30%);
}

.box-element {
	box-shadow: hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail {
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
	-moz-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
	box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
}

.product {
	border-radius: 0 0 4px 4px;
}

.bg-dark {
	background-color: #c0c0c0 !important;
}

#carrinho-icon {
	width: 30px;
	display: inline-block;
	margin-left: 15px;
}

.logout {
	width: 60px;
}

#carrinho-total {
	display: block;
	text-align: center;
	color: #fff;
	background-color: rgb(211, 8, 8);
	width: 16px;
	height: 20px;
	border-radius: 50%;
	font-size: 14px;
}

.col-lg-4,
.col-lg-6,
.col-lg-8,
.col-lg-12 {
	margin-top: 10px;
}

.btn {
	border-radius: 0;
}

.row-image {
	width: 100px;
}

.form-field {
	width: 250px;
	display: inline-block;
	padding: 5px;
}

.carrinho-row {
	display: flex;
	align-items: flex-stretch;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ececec;

}

.quantity {
	display: inline-block;
	font-weight: 700;
	padding-right: 10px;
	position:relative;
	top:-5px
}

.chg-quantity {
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition: .1s;
}

.chg-quantity:hover {
	opacity: .6;
}


.hidden {
	display: none !important;
}

.img-icone {
	width: 30px;
}

.inputquantity::-webkit-outer-spin-button,
.inputquantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

.progress {
	width: 25%;
}

.container-barra {
	display: flex;
}



.progress{
	margin: 0 10px 0 10px;
	position: relative;
	top: 3px;
}


.inputquantity {
	width: 35px;
	margin-right: 5px;
	position:relative;
	top:-11px
}

.content-section {
	background: #ffffff;
	padding: 10px 20px;
	border: 1px solid #dddddd;
	border-radius: 3px;
	margin-bottom: 20px;
	width: 100%;
  }

.add-prod{
	float: right;
}