{% extends 'vendas/base.html' %}
{% load static %}
{% block content %}
	<form action="{% url 'pesquisa_produtos' %}" method="get">
		<input name="q" type="text" placeholder="Search...">
		<button class="btn" type="submit">Pesquisar</button>
	</form>
	<div class="row">
		{% for produto in produtos %}
			<div class="col-lg-4">
				<img class="thumbnail" src="{{produto.imageURL}}">
				<div class="box-element product">
					<h6><strong>{{produto.nome}}</strong></h6>
					<hr>
					<h6><strong>{{produto.qtde_estoque}}</strong></h6>
                    <h4 tyle="display: inline-block; float: right"><strong>${{produto.preco}}</strong></h4>
                    <div>
                        <a class="btn btn-secondary btn-me mt-1 mb-1" href="{% url 'atualizar_produto' produto.id %}">Atualizar</a>
                        <a class="btn btn-danger btn-me mt-1 mb-1" href="{% url 'deletar_produto' produto.id %}">Deletar</a>
                    </div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock content %}