{% extends 'vendas/base.html' %}
{% load static %}
{% block content %}

<h1>Produtos</h1>
<hr>
	<form class="form-inline" action="{% url 'pesquisa_produtos' %}" method="get" style="display: inline;">
		<input class="form-control mr-sm-2" name="q" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
		<button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Pesquisar</button>
  	</form>
	<a class="btn btn-success add-prod" href="{% url 'adicionar_produto' %}">Adicionar produto</a>
	<div class="row">
		{% for produto in produtos %}
			<div class="col-lg-4">
				<img class="thumbnail" src="{{produto.imageURL}}">
				<div class="box-element product">
					<h6><strong>{{produto.nome}}</strong></h6>
					<hr>
					<h6><strong>Quantidade em estoque:  {{produto.qtde_estoque}}</strong></h6>
                    <h4 tyle="display: inline-block; float: right"><strong>${{produto.preco|floatformat:2}}</strong></h4>
                    <div>
                        <a class="btn btn-secondary btn-me mt-1 mb-1" href="{% url 'atualizar_produto' produto.id %}">Atualizar</a>
                        <a class="btn btn-danger btn-me mt-1 mb-1" href="{% url 'deletar_produto' produto.id %}">Deletar</a>
                    </div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock content %}