{% extends 'vendas/base.html' %}
{% load static %}
{% block content %}
	<div class="row">
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">
				<form id="form">
					<div id="shipping-info">
						<p>Modo de Pagamento:</p>
							<select class="form-control mb-3 col-sm-3" name="pgto" id="pgto">
								<option value="credito">Credito</option>
								<option value="debito">Debito</option>
								<option value="pix">Pix</option>
								<option value="boleto">Boleto</option>
							</select>
						
					</div>

					<hr>
					<input id="form-button" class="btn btn-success btn-block" type="submit"
						value="Continue">
				</form>
			</div>

			<br>
		</div>

		<div class="col-lg-6">
			<div class="box-element">
				<a class="btn btn-outline-dark" href="{% url 'carrinho' %}">&#x2190; voltar
					ao carrinho</a>
				<hr>
				<h5>Cliente nivel {{pedido.revendedor.meta.nivel}}</h5>
				<h3>Resumo do pedido</h3>
				<hr>
				{% for item in itens %}
				<div class="carrinho-row">
					<div style="flex:2"><img class="row-image" src="{{item.produto.image.url}}"></div>
					<div style="flex:2"><p>{{item.produto.nome}}</p></div>
					<div style="flex:1"><p>R${{item.produto.preco|floatformat:2}}</p></div>
					<div style="flex:1"><p>x{{item.quantidade}}</p></div>
				</div>
				{% endfor %}
				<h5>Itens: {{pedido.get_carrinho_itens}}</h5>
				{% if pedido.revendedor.user.tipo == 'revendedor' %}
					<h5>Subtotal: R${{pedido.get_carrinho_total|floatformat:2}}</h5>
				  	<h5>Desconto: %{{pedido.revendedor.meta.desconto}}</h5>
					<h5><strong>Total: R${{pedido.get_meta_total|floatformat:2}}</strong></h5>
				{% elif pedido.loja.user.tipo == 'loja' %}
					<h5><strong>Total: R${{pedido.get_carrinho_total|floatformat:2}}</strong></h5>
				{% endif %}
				
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

	<script type="text/javascript">
		
		if ('{{pedido.revendedor.user.tipo}}' == 'revendedor'){
			var subtotal = '{{pedido.get_carrinho_total}}';
			var total = '{{pedido.get_meta_total}}';
			
		}else if ('{{pedido.loja.user.tipo}}' == 'loja')
			var total = '{{pedido.get_carrinho_total}}';
			var subtotal = '{{pedido.get_carrinho_total}}';

			var form = document.getElementById('form')
			form.addEventListener('submit', function(e){
				e.preventDefault()
				document.getElementById('form-button').classList.add("hidden");
				var formaPgto = $("#pgto").val()
				submitFormData(formaPgto)
			})

			function submitFormData(formaPgto){
				var userFormData = {
					'subtotal':subtotal,
					'total':total,
					'formaPgto':formaPgto,
				}

				var url = "/processarPedido/"
				fetch(url, {
					method:'POST',
					headers:{
						'Content-Type':'applicaiton/json',
						'X-CSRFToken':csrftoken,
					}, 
					body:JSON.stringify({'form':userFormData}),
					
				})
				.then((response) => response.json())
				.then((data) => {

					carrinho = {}
					document.cookie ='carrinho=' + JSON.stringify(carrinho) + ";domain=;path=/"

					window.location.href = "{% url 'vendas-home' %}"

					})
			}
	</script>
{% endblock content %}