{% extends "vendas/base.html" %}
{% block content %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <h2>Código do pedido: {{ pedido.cod_pedido }}</h2>
      <h6 class="text-muted">Data: {{ pedido.data}}</h6>
      {% if pedido.revendedor %}
      <h6>Revendedor: {{ pedido.revendedor }}</h6>
      {% elif pedido.loja %}
      <h6>Loja: {{ pedido.loja }}</h6>
      {% endif %}
      <h4>Forma de pagamento: {{pedido.metodo_de_pagamento}}</h4>
      <h2>Total: R${{ pedido.get_carrinho_total|floatformat:2 }}</h2>
      <div class="box-element">
        <div class="carrinho-row">
          <div style="flex:2"></div>
          <div style="flex:2"><strong>Item</strong></div>
          <div style="flex:1"><strong>Preço</strong></div>
          <div style="flex:1"><strong>Quantidade</strong></div>
          <div style="flex:1"><strong>Total</strong></div>
        </div>
        {% for item in itens %}
        <div class="carrinho-row">
          <div style="flex:2"><img class="row-image"
              src="{{item.produto.imageURL}}"></div>
          <div style="flex:2"><p>{{item.produto.nome}}</p></div>
          <div style="flex:1"><p>R${{item.produto.preco|floatformat:2}}</p></div>
          <div style="flex:1">
            <p class="quantity">{{item.quantidade}}</p>
          </div>
          <div style="flex:1"><p>R${{item.get_total|floatformat:2}}</p></div>
        </div>
        {% endfor %}
      </div>

      {% if pedido.revendedor.user == request.user or pedido.loja.user == request.user %}
        <div>
          <a class="btn btn-secondary btn-me mt-1 mb-1" href="{% url 'atualizar_pedido' pedido.id %}">Alterar</a>
          <a class="btn btn-danger btn-me mt-1 mb-1" href="{% url 'deletar_pedido' pedido.id %}">Cancelar</a>
          {% if pedido.status == 'enviado' %}
            <a class="btn btn-success btn-me mt-1 mb-1" href="{% url 'confirmar_pedido' pedido.id %}">Confirmar recebimento</a>
          {% endif %}
        </div>
      {% elif request.user.tipo == 'franquia' %}
        <div>
          <a class="btn btn-secondary btn-me mt-1 mb-1" href="{% url 'atualizar_pedido' pedido.id %}">Alterar</a>
          <a class="btn btn-danger btn-me mt-1 mb-1" href="{% url 'deletar_pedido' pedido.id %}">Cancelar</a>
          {% if pedido.status == 'aprovado' %}
          <a class="btn btn-success btn-me mt-1 mb-1" href="{% url 'enviar_pedido' pedido.id %}">Enviar</a>
          {% endif %}
        </div>
      {% elif request.user.tipo == 'supervisor'%}
        <div>
          <a class="btn btn-secondary btn-me mt-1 mb-1" href="{% url 'atualizar_pedido' pedido.id %}">Alterar</a>
          <a class="btn btn-danger btn-me mt-1 mb-1" href="{% url 'deletar_pedido' pedido.id %}">Cancelar</a>
          {% if pedido.status == 'aprovacao_pendente' %}
          <a class="btn btn-success btn-me mt-1 mb-1" href="{% url 'aprovar_pedido' pedido.id %}">Aprovar</a>
          {% endif %}
        </div>
      {% endif %}
    </div>

  </div>
</article>
{% endblock content %}