{% extends "vendas/base.html" %}
{% block content %}
<div class="content-section">
    {% if user.tipo == "revendedor" %}
        <h2>Bem vindo(a) {{user.revendedor.nome}}!</h2>
        <hr>

        {% if user.revendedor.is_aprovado %}
            <h5>Status de cadastro: Aprovado</h5>
        {% else %}
            <h5>Status de cadastro: Pendente</h5>
        {% endif %}

        <br>

        <h4><strong>Resumo do mês de {{mes}}</strong></h4>

        <h5>Total comprado: R${{subtotal|floatformat:2}}</h5>

        <h5>Total comprado com desconto: R${{total|floatformat:2}}</h5>

        <div class="container-barra">
            <h5>Meta atual: {{user.revendedor.meta.nivel}}</h5>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:{{width}}"></div>
            </div>
            <h5>Proxima meta: {{user.revendedor.get_proxima_meta.nivel}}</h5>
            
        </div>
        
        <h5>Total necessário para proxima meta: R${{user.revendedor.get_proxima_meta.valor|floatformat:2}}</h5>

        <br>

        <h5>Pedidos pendentes: {{ qtde_pedidos_pendentes }}</h5>
        <h5>Pedidos aprovados: {{ qtde_pedidos_aprovados }}</h5>
        <h5>Pedidos cancelados: {{ qtde_pedidos_cancelados }}</h5>
        <h5>Pedidos enviados: {{ qtde_pedidos_enviados }}</h5>
        <h5>Pedidos completos: {{ qtde_pedidos_finalizados }}</h5>

    {% elif user.tipo == "franquia" %}

        <h2>Bem vindo {{user.franquia.nome_fantasia}}!</h2>
        <hr>

        <h3><strong>Resumo do dia {{dia}} de {{mes}}</strong></h3>

        <h5>Total comprado: R${{subtotal|floatformat:2}}</h5>

        <h5>Total comprado com desconto: R${{total|floatformat:2}}</h5>

        <br>

        <h5>Pedidos pendentes: {{ qtde_pedidos_pendentes }}</h5>
        <h5>Pedidos aprovados: {{ qtde_pedidos_aprovados }}</h5>
        <h5>Pedidos cancelados: {{ qtde_pedidos_cancelados }}</h5>
        <h5>Pedidos enviados: {{ qtde_pedidos_enviados }}</h5>
        <h5>Pedidos completos: {{ qtde_pedidos_finalizados }}</h5>

    {% elif user.tipo == "loja" %}

        <h2>Bem vindo {{user.loja.nome_fantasia}}!</h2>
        <hr>

        <h4><strong>Resumo do mês de {{mes}}</strong></h4>

        <h5>Total comprado: R${{subtotal|floatformat:2}}</h5>

        <h5>Total comprado com desconto: R${{total|floatformat:2}}</h5>

        <br>

        <h5>Pedidos aprovados: {{ qtde_pedidos_aprovados }}</h5>
        <h5>Pedidos cancelados: {{ qtde_pedidos_cancelados }}</h5>
        <h5>Pedidos enviados: {{ qtde_pedidos_enviados }}</h5>
        <h5>Pedidos completos: {{ qtde_pedidos_finalizados }}</h5>
    
    {% elif user.tipo == "supervisor" %}

        <h2>Bem vindo(a) {{user.supervisor.nome}}!</h2>
        <hr>
        <h4><strong>Resumo do mês de {{mes}}</strong></h4>
        <h5>Novos revendedores: {{ novos_revendedores }}</h5>
        <br>
        <h5>Pedidos pendentes: {{ qtde_pedidos_pendentes }}</h5>
        <h5>Pedidos aprovados: {{ qtde_pedidos_aprovados }}</h5>
        <h5>Pedidos cancelados: {{ qtde_pedidos_cancelados }}</h5>
        <br>
        <h4><strong>Resumo dos revendedores subordinados do mês de novembro</strong></h4>

        <h5>Total comprado: R${{subtotal|floatformat:2}}</h5>

        <h5>Total comprado com desconto: R${{total|floatformat:2}}</h5>

        

        
        

    {% endif %}

    

</div>
{% endblock content %}