{% extends "vendas/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">


    <form id="form-conteiner" method="POST">
        <legend class="border-bottom mb-4">Pedido</legend>
        {% csrf_token %}
        {% if request.user.type == 'REVENDEDOR' %}
            {{pedido.franquia}}
            {{pedido.supervisor}}
            {{pedido.data}}
            {{forms.metodo_de_pagamento}}

        {% endif%}
        <legend class="border-bottom mb-4">Produtos</legend>
        <div id="form-group">
            {{ formset.management_form }}
            {% for form in formset %}
            <div class="item_pedido-form">
                {{form}}
                <button id="rmv-form" class="btn btn-danger" type="button">Remover</button>
                <br>
            </div>
            {% endfor %}
        </div>
            <button id="add-form" class="btn btn-success" type="button">Adicionar produto</button>
        <div id="empty_form" style="display:none">
            <div class="item_pedido-form">
                {{ formset.empty_form}}
                <button id="rmv-form" class="btn btn-danger" type="button">Remover</button>
                <br>
            </div>
        </div>
            <button class="btn btn-outline-info" type="submit">Fazer Pedido</button>

    </form>
</div>
{% endblock content %}