{% extends 'vendas/base.html' %}
{% load static %}
{% block content %}
	<form action="{% url 'pesquisa_pedidos' %}" method="get">
		<input name="q" type="text" placeholder="Search...">
		<button class="btn" type="submit">Pesquisar</button>
  	</form>
	<div class="row">
		{% if not object_list %}
		<h2><strong>Nenhum pedido encontrado</strong></h2>
		{% else %}
			{% for pedido in object_list %}
				<div class="col-lg-4">
					<div class="box-element product">
						<h6><strong>Código do Pedido:</strong></h6>
						<h6>{{pedido.cod_pedido}}</h6>
						<hr>
						<h6><strong>Status:</strong></h6>
						<h6>{{pedido.status}}</h6>
						<hr>
						<h6><strong>Data:</strong></h6>
						<h6>{{pedido.data|date:"d/m/Y" }}</h6>
						<hr>
						{% if pedido.revendedor %}
							<h6><strong>Revendedor:</strong></h6>
							<h6>{{pedido.revendedor}}</h6>
							<hr>
						{% elif pedido.loja %}
							<h6><strong>Loja:</strong></h6>
							<h6>{{pedido.loja}}</h6>
							<hr>
						{% endif %}
						
						<h6><strong>Forma de pagamento:</strong></h6>
						<h6>{{pedido.metodo_de_pagamento}}</h6>
						<hr>

						<a class="btn btn-outline-success" href="{% url 'detalhe_pedido' pedido.id %}">Detalhes</a>
						<!-- <a class="btn btn-danger btn-me mt-1 mb-1" href="{% url 'deletar_pedido' pedido.id %}">Deletar</a> -->
					</div>
				</div>
			{% endfor %}
		{% endif %}
	</div>
{% endblock content %}