{% extends 'vendas/base.html' %}
{% load static %}
{% block content %}

<h1>Loja</h1>
<hr>

	<form class="form-inline" action="{% url 'pesquisa_produtos' %}" method="get">
		<input class="form-control mr-sm-2" name="q" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
		<button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Pesquisar</button>
  	</form>
	<div class="row">
		{% for produto in produtos %}
			<div class="col-lg-4">
				<img class="thumbnail" src="{{produto.image.url}}">
				<div class="box-element product">
					<h6><strong>{{produto.nome}}</strong></h6>
					<hr>
					<button data-produto="{{produto.id}}" data-action="add" class="btn
						btn-outline-secondary add-btn update-carrinho">Adicionar ao carrinho</button>
					<h4 style="display: inline-block; float: right"><strong>R${{produto.preco|floatformat:2}}</strong></h4>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock content %}