{% extends 'vendas/base.html' %}
{% load static %}
{% block content %}

    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>

    <div class="content-section">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-secondary" data-action="day">dia</button>
            <button class="btn btn-secondary" data-action="month">mes</button>
            <button class="btn btn-secondary" data-action="year">ano</button>
        </div>

        <!-- <a class="btn btn-success btn-me mt-1 mb-1" href="{% url 'grafico_produtos' %}">Relatoio de produtos</a> -->


        <hr>
        <h5>Total vendido: R${{ total|floatformat:2 }}</h5>
        <h5>Quantidade de pedidos: {{ qtde_pedidos }}</h5>
        <h5>Quantidade de pedidos aprovados: {{ qtde_pedidos_aprovados }}</h5>
        <h5>Quantidade de pedidos enviados: {{ qtde_pedidos_enviados }}</h5>
        <h5>Quantidade de pedidos finalizados: {{ qtde_pedidos_finalizados }}</h5>
        <h5>Novos Revendedores: {{ revendedores }}</h5>

        <hr>
        <h4 style="text-align:center;">Produtos mais vendidos</h4>
        <div id="myChart"></div>
    </div>




    <script>
        var updateBtns = document.getElementsByClassName('btn-secondary')

        for (i = 0; i < updateBtns.length; i++) {
            updateBtns[i].addEventListener('click', function () {
                var action = this.dataset.action
                carregaDados(action)
        
            })
        }

        function carregaDados(action) {
        var url = '/atualizar_relatorio/'

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({ 'action': action, })
        })
            .then((response) => {
                return response.json();
            })
            .then((dados) => {
                location.reload()
            });
        }


        var state ={	
            'items':[],
            'values':[],
        }
    
        var dataURL = `/grafico_produtos/`
        $.ajax({
            method:'GET',
            url:dataURL,
            success:function(response){
                console.log('RESPONSE:', response)

                for (const [key, value] of Object.entries(response)) {
                    state.items.push(key)
                    state.values.push(value)
                  }

                console.log('STATE:', state)
                buildChart()
    
            }
        })
    
        function buildChart(){
                var chartData = {
                "type":"bar",
                "scale-x":{
                    "values":state.items
                },
                "series":[
                    {
                        "values":state.values
                    }
                ]
            }
    
    
            zingchart.render({
              id: "myChart",
              data: chartData,
            });
        }

    </script>
{% endblock content %}