{% extends 'vendas/base.html' %}
{% load static %}
{% block content %}
	<div class="row">
		{% if not usuarios %}
		<h2><strong>Nenhum pedido encontrado</strong></h2>
		{% else %}
			{% for usuario in usuarios %}
				<div class="col-lg-4">
					<div class="box-element product">
						<h6><strong>Email:</strong></h6>
						<h6>{{usuario.email}}</h6>
						<hr>
						<h6><strong>Tipo:</strong></h6>
						<h6>{{usuario.type}}</h6>

                        <div>
                            <a class="btn btn-secondary btn-me mt-1 mb-1" href="{% url 'atualizar_usuario' usuario.id %}">Atualizar</a>
                            <a class="btn btn-danger btn-me mt-1 mb-1" href="{% url 'deletar_usuario' usuario.id %}">Deletar</a>
                        </div>
					</div>
				</div>
			{% endfor %}
		{% endif %}
	</div>
{% endblock content %}