{% extends 'vendas/base.html' %}
{% load static %}
{% block content %}

	<h1>Usuarios</h1>
	<hr>
	
	<form class="form-inline" action="{% url 'pesquisa_usuarios' %}" method="get">
		<input class="form-control mr-sm-2" name="q" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
		<button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Pesquisar</button>
		{% if request.user.tipo == 'supervisor' %}
			<a class="btn btn-success ml-auto mr-0" href="{% url 'pesquisa_rev_novo' %}">Revendedores com cadastro pendente</a>
		{% elif request.user.tipo == 'franquia' %}
			<a class="btn btn-success ml-auto mr-0" href="{% url 'pesquisa_rev_novo' %}">Usuarios com cadastro pendente</a>
		{% endif %}
		
	</form>
	
	<div class="row">
		{% if not usuarios %}
		<h2 class="mt-3"><strong>Nenhum usuário encontrado</strong></h2>
		{% else %}
			{% for usuario in usuarios %}
				<div class="col-lg-4">
					<div class="box-element product">
						<h6><strong>Email:</strong></h6>
						<h6>{{usuario.email}}</h6>
						<hr>
						<div class="d-inline-flex w-50 flex-column">
							<h6 ><strong>Tipo: </strong></h6>
							<h6 >{{usuario.tipo}}</h6>
						</div>
						
						<div class="d-inline-flex flex-column">
							<h6><strong>Status: </strong></h6>
							{% if usuario.revendedor.is_aprovado or usuario.franquia.is_aprovado or usuario.loja.is_aprovado or usuario.supervisor.is_aprovado%}
								<h6>Aprovado</h6>
							{% else %}
								<h6>Pendente</h6>
							{% endif %}
						</div>

                        <div>
                            <a class="btn btn-secondary btn-me mt-1 mb-1" href="{% url 'atualizar_usuario' usuario.id %}">Atualizar</a>
                            <a class="btn btn-danger btn-me mt-1 mb-1" href="{% url 'deletar_usuario' usuario.id %}">Deletar</a>
                        </div>
					</div>
				</div>
			{% endfor %}
		{% endif %}
	</div>
{% endblock content %}