{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/style.css' %}">
    {% if title %}
        <title>Umbrella - {{ title }}</title>
    {% else %}
        <title>Umbrella</title>
    {% endif %}
</head>

<body>
    <div class="main-login">
        <div class="left-login">
            <h1> Seja bem vindo! </h1>
            <img src="{% static 'users/img/garota.svg' %}" class="left-login-image" alt="Garota segurando guarda chuva">
        </div>

        <div class="right-login">
            <div class="card-login">
                {% block conteudo %}{% endblock conteudo %}
            </div>

        </div>

    </div>
    {% if messages %}
            {% for message in messages %}
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>

</html>

{% load sweetify %}
{% sweetify %}