{% extends 'users/base.html' %}
{% block conteudo %}
    <h1> LOGIN </h1>
    <div class="textfield">
        <label for="usuario"> Usuário </label>
        <input type="text" name="usuario" placeholder="Usuário"> 
    </div>
    <div class="textfield">
        <label for="senha"> Senha </label>
        <input type="password" name="senha" placeholder="Senha"> 
    </div>
    <button class="btn-login"> Login </button>
    <button class="btn-cadastrar"> Cadastrar </button> 
{% endblock conteudo %}