{% extends 'vendas/base.html' %}
{% load static %}
{% block content %}

<h1>Usuarios</h1>
	<hr>

<form class="form-inline" action="{% url 'pesquisa_usuarios' %}" method="get">
	<input class="form-control mr-sm-2" name="q" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
	<button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Pesquisar</button>
  </form>
	<div class="row">
		{% if not object_list %}
		<h2><strong>Nenhum usuario encontrado</strong></h2>
		{% else %}
			{% for usuario in object_list %}
				<div class="col-lg-4">
					<div class="box-element product">
						<h6><strong>Email:</strong></h6>
						<h6>{{usuario.email}}</h6>
						<hr>
						<div class="d-inline-flex w-50 flex-column">
							<h6 ><strong>Tipo: </strong></h6>
							<h6 >{{usuario.tipo}}</h6>
						</div>
						
						{% if usuario.revendedor %}
							<div class="d-inline-flex flex-column">
								<h6><strong>Status: </strong></h6>
								{% if usuario.revendedor.is_aprovado %}
									<h6>Aprovado</h6>
								{% else %}
									<h6>Pendente</h6>
								{% endif %}
							</div>
						{% endif %}



                        <div>
                            <a class="btn btn-secondary btn-me mt-1 mb-1" href="{% url 'atualizar_usuario' usuario.id %}">Atualizar</a>
                            <a id="btn-deleta" class="btn btn-danger btn-me mt-1 mb-1">Deletar</a>
                        </div>
					</div>
				</div>
			{% endfor %}
		{% endif %}
	</div>

	<script>
		$("#btn-deleta").click(function() {
			Swal.fire({
			  title: 'Tem certeza?',
			  text: "O pedido será cancelado e os itens devolvidos a estoque!",
			  icon: 'warning',
			  showCancelButton: true,
			  confirmButtonColor: '#3085d6',
			  cancelButtonColor: '#d33',
			  cancelButtonText: 'Não',
			  confirmButtonText: 'Sim',
			  customClass: {
				actions: 'my-actions',
			  }
			}).then((result) => {
			  if (result.isConfirmed) {
				window.location.href = "{% url 'deletar_usuario' usuario.id %}"
			  }
			})
		  });
	</script>
{% endblock content %}